:root {
  --black-color: #263238;
  --base-color: #B9EF00;
  --base-color-hover: #D9FF56;
  --base-color-active: #A3D200;
  --border-color: rgb(227, 227, 227);
  --placeholder-color: #8D8D8D;
  --transition-duration: .3s;
  --price-color: #6C6C6C;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black-color);
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
/* Ссылка */
.default-link {
  color: var(--black-color);
  text-decoration: underline;

  transition: color var(--transition-duration), background-color var(--transition-duration);
}

.default-link:focus-visible {
  outline: none;
  background-color: var(--base-color);
}

.default-link:hover {
  color: var(--base-color-hover)
}

.default-link:active {
  color: var(--base-color-active)
}

/* Кнопка */
.default-button {
  cursor: pointer; /*Added*/
  display: inline-block;
  padding: 11px 47px;
  border: none;
  border-radius: 12px;

  color: var(--black-color);
  background-color: var(--base-color);
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color var(--transition-duration), background-color var(--transition-duration);
}

.default-button:focus-visible {
  outline-color: var(--base-color);
}

.default-button:hover {
  background-color: var(--base-color-hover);
}

.default-button:active {
  background-color: var(--base-color-active);
}

/* Input */
.text-field {
  padding: 11px 16px 11px 16px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  transition:  border-color var(--transition-duration);
  outline: none;
}

.text-field::placeholder {
  color: var(--placeholder-color)
}

.text-field:focus {
  border-color: var(--base-color);
}

/* Subtitle */
.subtitle {
  text-align: center;
  margin: 0;
  
  font-size: 34px;
  font-weight: 700;
}


/* Logo */
.logo {
  display: block;
  width: 154px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.menu__link {
  color: white;
  outline: none;
  transition: color var(--transition-duration), background-color var(--transition-duration);
}

.menu__link:focus-visible {
  color: var(--black-color);
  outline: none;
  background-color: var(--base-color);
}

.menu__link:hover {
  color: var(--base-color-hover)
}

.menu__link:active {
  color: var(--base-color-active)
}

/* Callback form */
.callback-form {
  display: flex;
  gap: 16px;
}

.callback-form__inp {
  flex-basis: 288px;
}

/* Card of good */
.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.product-card__img {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 180px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: contain;
}

.product-card__body {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;

  padding: 15px;
}

.product-card__body-top {
  margin-bottom: 22px;
}

.product-card__title {
  margin-top: 0;
  margin-bottom: 10px ;
  font-size: 21px; 
  font-weight: 700;
}

.product-card__price {
  font-size: 18px;
  font-weight: 700;
  color: var(--price-color);
}

.product-card__button {
  width: 100%;
}

.product-card--big {
  height: 353px;
  position: relative;
  border: none;
}

.product-card__img--big {
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.product-card__body--big {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: white;
  align-items: flex-start;
}

.product-card__price--big {
  color: white;
}

.product-card__button--big {
  width: initial;
}






.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  
}

.header {
  background-color: var(--black-color);
  /* height: 60px; */

}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  padding: 22px;
  background-color: var(--base-color);
  transition: background-color var(--transition-duration), opacity var(--transition-duration);
  outline: none;
}

.header__logo:focus-visible {
  opacity: 0.8;
}

.header__logo:hover {
  background-color: var(--base-color-hover);
}

.header__logo:active {
  background-color: var(--base-color-active);
}

/* Hero section */
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__container::after {
  content: '';
  display: block;
  flex-basis: 470px;
  height: 375px;
  background-image: url(../img/hero.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  flex-basis: 487px;
}

.hero__title {
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero__description {
  max-width: 360px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 48px;
}

/* Callback form */
.callback {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.callback::before {
  content: '';
  display: block;
  background-image: url(../img/callback-left.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.callback__right {
  padding: 72px 50px;

  background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5046393557422969) 100%), url(../img/callback-right.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: white;
}

.callback__title {
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.callback__description {
  font-size: 20px;
  max-width: 424px;

  margin-top: 0;
  margin-bottom: 26px;
}

/* Каталог */
.catalog {
  padding: 80px 0;
}

.catalog__subtitle {
  margin-bottom: 60px;
  margin-top: 0;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog__item--big {
  grid-column: span 2;
}

.catalog__card {
  height: 100%;
}

/* Футер */
.footer {
  padding: 23px 15px;
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
}

.footer__logo {
  opacity: 50%;
}
@media (max-width: 920px) {

  .default-button {
    padding: 10px 15px;
  }
  .callback-form {
    flex-direction: column;
  }
  
  .callback-form__inp {
    flex-basis: initial;
  }
  
  .product-card__img {
    height: 90px;
  }
  
  .product-card__body {
    padding: 10px;
  }
  
  .product-card__body-top {
    margin-bottom: 22px;
  }
  
  .product-card__title {
    font-size: 14px;
  }
  
  .product-card__price {
    font-size: 14px;
  }

  .product-card__img--big {
    height: 100%;
  }

  .product-card__button--big {
    width: 100%;
  }
  
  .header__container {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }

  .header__menu {
    /* display: flex;
    justify-content: center; */
    padding: 20px 0;
    width: 100%;
    overflow-x: scroll;
  }

  .header__menu-list {
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    margin: 0 auto;
  }

  /* Hero section */
  .hero__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__container::after {
    display: none;
  }

  .hero__title {
    font-size: 28px;
  }

  /* Callback form */
  .callback {
    display: block;
  }

  .callback::before {
    display: none;
  }

  .callback__right {
    padding: 40px 15px;
  }

  /* Каталог */
  .catalog {
    padding: 40px 0;
  }
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .catalog__subtitle {
    margin-bottom: 30px;
  }
}