* {
    list-style: none;
    box-sizing: border-box;
}
:root {
    --text-shadow-color: rgba(255, 255, 255, 0.5);
    --link-background: #DAD2CA;
    --text-color: #444;
    --circle-background: #cc5cf2;
    --border-color: #ffffff;
    --default-image-size: 200px;
}

body {
    padding: 20px;
    height: 100vh;
  }

#data-container {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 var(--text-shadow-color);
}

#data-container a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: var(--link-background);
    color: var(--text-color);
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

#data-container a:hover {
    background: var(--link-background);
}

#data-container a:hover:before {
    transform: rotate(360deg);
}

#data-container a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: var(--circle-background);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid var(--border-color);
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
.menu {
    display: flex;
}
.menu-link {
    display: block;
    background-color: grey;
    height: 30px;
    width: 70px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.photo-item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    max-width: var(--default-image-size);
}

.photo-item__image {
    width: var(--default-image-size);
    height: var(--default-image-size);
}

.post {
    max-width: 700px;
}
.post__title {
    font-size: 45px;
}

.post__comments {
    max-width: 400px;
}

.post__comments-text {
    display: block;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.post-comment {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.post-comment__author {
    font-style: italic;
}